body{
    background-color: #181818;
    color: #FFFF
}

#title{
    font-size: 4rem;
}

.buttons{
    position: relative;
    left: 790px;
    bottom: 143px;
   
   }
   
   #logo{
   position: relative;
       top: 45px;
       left: 35px;
   }
   
   
   #button1{
       display: inline-block;
       text-decoration: none;
       font-size: 2.7rem;
       height: fit-content;
       width: fit-content;
       cursor: pointer;
       border: 3px solid #f4f4f4;
       color: #f4f4f4;
       padding: 1%;
       margin: 5px;
       border-radius: 6px;
       text-shadow: 0 0 0.6em currentColor;
       
   
   }
   
   #button1:hover{
       text-shadow: 0 0 0.6em #dfe959;
   
   }
   
   #button2{
       display: inline-block;
       text-decoration: none;
       font-size: 2.7rem;
       height: fit-content;
       width: fit-content;
       cursor: pointer;
       border: 3px solid #f4f4f4;
       color: #f4f4f4;
       padding: 1%;
       margin: 5px;
       border-radius: 6px;
       text-shadow: 0 0 0.6em currentColor;
       
   
   }
   
   #button2:hover{
       text-shadow: 0 0 0.6em #dfe959;
   
   }
   
   #salaryPrint{
    font-size: 1rem;
    border: #dfe959 solid 2px;
    width: fit-content;
    padding: 3px;
   }

   #social-media, #footer{
    position: relative;
    text-decoration: none;
    color: #f4f4f4;
    top: 610px;
    left: 100px;
   }


   .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: solid #a3a85f 2px;
  }
  
  #department {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }